@page
@model PricipalModel
@{
    ViewData["Title"] = "Tarea";
}

<br>
<center>
    <h2>Articulos</h2>
</center>


@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-page-handler="Nombre" method="post">
    <div class="row mb-3">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="Nombre" value="@Model.nombre"/>
        </div>

        <div class="offset-sm-6 col-sm-3 d-grid">
            <button class="btn btn-primary">Filtrar X Nombre</button>
        </div>

    </div>
</form>
<form asp-page-handler="Cantidad" method="post">
    <div class="row mb-3">
        <div class="col-sm-3">
            <input type="number" class="form-control" name="Cantidad" value="@Model.cantidad"/>
        </div>

        <div class="offset-sm-6 col-sm-3 d-grid">
            <button id="btnCant" class="btn btn-primary">Filtrar X Cantidad</button>
        </div>
    </div>
</form>

<form asp-page-handler="Clase" method="post">
    

    <div class="row mb-3">
        <div class="col-sm-3">
            <select name="ClaseSeleccionada" size="1" style="width: 637px; height: 39px;">
                @foreach (var item in Model.listaClaseArticulos1)
                {
                    <option value="@item.Nombre">@item.Nombre</option>
                }
            </select>
        </div>
        <div class="offset-sm-6 col-sm d-grid">
            <button type="submit" class="btn-primary">Filtrar X Clase</button>
        </div>
    </div>


</form>

<div class="row mb-3">
    <div class="col-sm d-grid">
        <a class="btn btn-outline-primary" href="/Clientes/Insertar" role="button">Insertar</a>
    </div>
    <div class="col-sm d-grid">
        <a class="btn btn-outline-primary" href="/Clientes/CAModificar" role="button">Modificar</a>
    </div>
    <div class="col-sm d-grid">
        <a class="btn btn-outline-primary" href="/Clientes/CABorrar" role="button">Borrar</a>
    </div>
    <div class="col-sm-3 d-grid">
        <a class="btn btn-outline-primary" href="/Index" role="button">Salir</a>
    </div>
</div>

<center>
    <h3>Lista de Articulos</h3>
</center>
<table class="table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Clase</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaArticulos)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Nombre</td>
                <td>@item.Clase</td>
                <td>@item.Precio</td>
            </tr>
        }
    </tbody>
</table>
