@page
@model WebApplication2.Pages.Clientes.DetalleSalarioBrutoModel
<div class="row mb-3">
</div>
<div class="row mb-3">
    <div class="col-sm text-start">
        <a class="btn btn-primary" href="/Clientes/UsuarioEmpleado" role="button">
            <i class="bi bi-arrow-left"></i>Volver
        </a>
    </div>
</div>

<center>
    <h3>Detalle Salario Bruto</h3>
</center>
<table class="table">
    <thead>
        <tr>
            <th><center>Dia</center></th>
            <th><center>Hora de Entrada</center></th>
            <th><center>Hora de Salida</center></th>
            <th><center>Horas Ordinarias</center></th>
            <th><center>Devengado</center></th>
            <th><center>Horas Extras</center></th>
            <th><center>Devengado</center></th>
            <th><center>Horas Extras Dobles</center></th>
            <th><center>Devengado</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaMarcasSemanaPlanilla)
        {
            <tr>
                <td align="center">@item.Fecha</td>
                <td align="center">@item.Inicio</td>
                <td align="center">@item.Fin</td>
                <td align="center">@item.QOrdinarias</td>
                <td align="center">@item.MQOrdinarias</td>
                <td align="center">@item.QExtra</td>
                <td align="center">@item.MQExtra</td>
                <td align="center">@item.QDoble</td>
                <td align="center">@item.MQDoble</td>
            </tr>
        }
    </tbody>
</table>

