@page
@model WebApplication2.Pages.Clientes.ModificarModel
@{
}

<br />
<center>
    <h2>Editar Empleado</h2>
</center>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Nombre" value="@Model.empleado.Nombre" />
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tipo de identificación</label>
        <div class="col-sm-6">
            <select name="TipoDocIdentidad" size="1" style="width: 637px; height: 39px;">
                <option>@Model.empleado.TipoDocIdentidad</option>
                @foreach (var item in Model.listaTipoDocIdentidad)
                {
                    if (@Model.empleado.TipoDocIdentidad != item)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Valor de identificación</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ValorDocIdentidad" value="@Model.empleado.ValorDocIdentidad" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fecha de nacimiento</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Fecha de nacimiento" value="Vacio por el momento" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Puesto</label>
        <div class="col-sm-6">
            <select name="Puesto" size="1" style="width: 637px; height: 39px;">
                <option>@Model.empleado.Puesto</option>
                @foreach (var item in Model.listaPuesto)
                {
                    if (@Model.empleado.Puesto != item)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Departamento</label>
        <div class="col-sm-6">
            <select name="Departamento" size="1" style="width: 637px; height: 39px;">
                <option>@Model.empleado.Departamento</option>
                @foreach (var item in Model.listaDepartamento)
                {
                    if (@Model.empleado.Departamento != item)
                    {
                        <option value="@item">@item</option>    
                    }         
                }
            </select>
        </div>
    </div>



    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }


    <div class="row mb-3">
        <div class="offset-sm-3 col-sm d-grid">
            <button type="submit" class="btn-primary">OK</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-secondary" href="/Clientes/UsuarioAdmin" role="button">Cancel</a>
        </div>
    </div>
</form>