@page
@model WebApplication2.Pages.Clientes.UsuarioEmpleadoModel
@{
}

<br>


@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row mb-3">
    <div class="col-sm text-start">
        <a class="btn btn-primary" href="/LogOut" role="button">
            <i class="bi bi-arrow-left"></i>Cerrar Sesión
        </a>
    </div>
</div>

<center>
    <h2>Empleado</h2>
</center>

<form asp-page-handler="Planilla" method="post">
    <div class="row mb-3">
        <div class="col-sm-3" style="display: flex; align-items: center;">
            <label class="col-sm-3 col-form-label">Nombre: </label>
            <div class="col-sm-6">
                <label class="col-sm-3 col-form-label" style="white-space: nowrap;">@Model.empleado.Nombre</label>
            </div>
        </div>
        <div class="offset-sm-6 col-sm-3 d-grid">
            <a class="btn btn-primary" href="/Clientes/UsuarioEmpleado" role="button">
                Planilla Semanal
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3" style="display: flex; align-items: center;">
            <label class="col-sm-3 col-form-label">Identidad: </label>
            <div class="col-sm-6">
                <label class="col-sm-3 col-form-label" >@Model.empleado.ValorDocIdentidad</label>
            </div>
        </div>
        <div class="offset-sm-6 col-sm-3 d-grid">
            <a class="btn btn-primary" href="/Clientes/UsuarioEmpleado2" role="button">
                Planilla Mensual
            </a>
        </div>
    </div>
</form>


<form asp-page-handler="VolverAdmin" method="post">
    <div class="row mb-3">
        <div class="col-sm text-end">
            @if (@Model.mostrarBoton)
            {
                <button class="btn btn-primary" style="width: 305px;">Volver Administrador</button>
            }
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th><center>Salario Bruto</center></th>
            <th></th>
            <th><center>Total Deduccion</center></th>
            <th></th>
            <th><center>Salario Neto</center></th>
            <th><center>Horas Ordinarias</center></th>
            <th><center>Horas Extras</center></th>
            <th><center>Horas Extras Dobles</center></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaSemanaPlanilla)
        {
            <tr>
                <td align="center">@item.Bruto</td>
                <td>
                    <form asp-page-handler="Accion" method="post">
                        <input type="hidden" name="idSemanaP" value="@item.IdPlanilla" />
                        <button class="btn btn-secondary" name="action" value="Detalles">Detalles</button>
                    </form>
                </td>
                <td align="center">@item.TotalDeduc</td>
                <td>
                    <form asp-page-handler="Accion2" method="post">
                        <input type="hidden" name="idSemanaP" value="@item.IdPlanilla" />
                        <button class="btn btn-secondary" name="action" value="Detalles">Detalles</button>
                    </form>
                </td>
                <td align ="center">@item.Neto</td>
                <td align="center">@item.Ordinario</td>
                <td align="center">@item.Extra</td>
                <td align="center">@item.Doble</td>
            </tr>
        }

    </tbody>
</table>


