@page
@model WebApplication2.Pages.Clientes.UsuarioAdminModel
@{
}

<br>
<center>
    <h2>Administrador</h2>
</center>


@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-page-handler="Filtrar" method="post">
    <div class="row mb-3">

        <div class="col-sm-3" style="display: flex; align-items: center;">
            <label for="Filtro" style="margin-right: 10px;">Filtro:</label>
            <input type="text" class="form-control" name="Filtrar" value="@Model.Filtro" />
        </div>

        <div class="offset-sm-6 col-sm-3 d-grid">
            <button class="btn btn-primary">Filtrar</button>
        </div>

    </div>
</form>


<div class="row mb-3">
    <div class="col-sm text-end">
        <a class="btn btn-primary" href="/Clientes/Insertar" role="button" style="width: 305px;">Insertar</a>
    </div>
</div>

<center>
    <h3>Lista de Empleados</h3>
</center>
@{
    int contador = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listaEmpleado)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Puesto</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="idEmpleado" value="@item.Id" />
                     
                        <button class="btn btn-success" name="action" value="Editar">Editar</button>
                        <button class="btn btn-danger" name="action" value="Borrar">Borrar</button>
                        <button class="btn btn-secondary" name="action" value="Impersonar">Impersonar</button>
                    </form>
                </td>
            </tr>
            contador++;
        }
    </tbody>
</table>

